.navbar-container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px auto;
  padding: 10px;
}

.custom-navbar-logo {
  flex: 3;
}



/*
  Modifying Bulma Defaults
*/

.navbar-burger:hover {
  background: transparent; 
}