.app-container {
    width: 80%;
    margin: 60px auto 0px;
    padding: 10px;
}

.fixed-up-top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0px 60px;
    background-color: white; 
    z-index: 9999;
}
