.app-container {
    width: 80%;
    margin: 0px auto;
    padding: 10px;
}

.strech-full-width-banner {
    margin-left: -17%;
    margin-right: -17%;
    background-image: url('/assets/images/top-cover.png');
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 500px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; 
}

.section-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 40px 0px;
}

.section-content {
    flex: 3;
}

.section-content {
    background-image: url('/assets/images/cover.png');
    background-color: #cccccc; /* Used if the image is unavailable */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}

@media only screen and (max-width: 768px) {
    .strech-full-width-banner { 
        background-image: url('/assets/images/cover-top-mobile.png');
    }
    
    .section-form {
        width: 100%;
    }
    
    .section-content {
        margin: 5px 0px;
    }

    .section-content > p {
        height: 210px;
    }
}